.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
docker-compose.yml
docker-compose.*.yml
tmp
*.md
.editorconfig
.prettierrc
.eslintrc*
eslint.config.*
phpunit.xml
